<section id="productos">

    <h1>La Mejor Ropa con el Eejor Estilo</h1>
    <div class="productos-container">
        <div class="card"  style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/ropa/remera1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{productosRopa[0].nombre}}</h5>
                <p class="card-text">la Mejor calidad  garatizada 100% algodon</p>
                <span>$ 20000</span>
                <button class="btn btn-primary" (click)="addToCart(productosRopa[0])">Agregar</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/ropa/remera2.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Remera Sass</h5>
                <p class="card-text">la Mejor calidad  garatizada 100% algodon</p>
                <span>$ 20000</span>
                <button class="btn btn-primary" (click)="addToCart(productosRopa[1])">Agregar</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/ropa/remera3.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Remera Angular</h5>
                <p class="card-text">la Mejor calidad  garatizada 100% algodon</p>
                <span>$ 20000</span>
                <button class="btn btn-primary" (click)="addToCart(productosRopa[2])">Agregar</button>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/ropa/remera4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Remera NodeJs</h5>
                <p class="card-text">la Mejor calidad  garatizada 100% algodon</p>
                <span>$ 20000</span>
                <button class="btn btn-primary" (click)="addToCart(productosRopa[4])">Agregar</button>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/ropa/remera5.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Remera Html5</h5>
                <p class="card-text">la Mejor calidad  garatizada 100% algodon</p>
                <span>$ 20000</span>
                <button class="btn btn-primary" (click)="addToCart(productosRopa[5])">Agregar</button>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/ropa/gorra7.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Gorra Dev</h5>
                <p class="card-text">la Mejor calidad  garatizada 100% algodon</p>
                <span>$ 20000</span>
                <button class="btn btn-primary" (click)="addToCart(productosRopa[6])">Agregar</button>
                
            </div>
        </div>
    </div>

</section>

