<section id="carrito">
  <div class="cart-container">
    <h2>Carrito de Compras</h2>
    <div *ngFor="let item of items" class="cart-item">
      <h5>{{item.nombre}}</h5>
      <p>{{item.precio | currency}}</p>
      <p>Cantidad: {{item.cantidad}}</p>
      <button (click)="removeFromCart(item)" class="btn btn-danger">Quitar del carrito</button>
    </div>
    <h3>Total{{total | currency}}</h3>
    <button (click)="clearCart()" class="btn btn-danger">Vaciar Carrito</button>
    <button (click)="finalizarCompra()" class="btn btn-primary">Finalizar Compra</button>
</div>
</section>