<section id="productos">

    <h1>Nuestros Equipos</h1>
    <div class="productos-container">
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/computadoras/monitor 4k8.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Monitor 4k</h5>
                <p class="card-text">la Mejor calidad de imagen garatizada</p>
                <span>$ 25000</span>
                <button class="btn btn-primary" (click)="addToCart(productosComputadoras[0])">Agregar</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/computadoras/monito 8k9.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Monitor 8K</h5>
                <p class="card-text">la Mejor calidad de imagen  garatizada</p>
                <span>$ 35000</span>
                <button class="btn btn-primary" (click)="addToCart(productosComputadoras[1])">Agregar</button>
                
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/computadoras/pc1.webp" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Pc gamer 1802CD</h5>
                <p class="card-text">potencia y rendimiento</p>
                <span>$ 335000</span>
                <button class="btn btn-primary" (click)="addToCart(productosComputadoras[2])">Agregar</button>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/computadoras/pc2.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Pc gamer 112CxX</h5>
                <p class="card-text">potencia y rendimiento</p>
                <span>$ 435000</span>
                <button class="btn btn-primary" (click)="addToCart(productosComputadoras[3])">Agregar</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/computadoras/pc3.jfif" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Pc gamer 1080GTXF</h5>
                <p class="card-text">potencia y rendimiento</p>
                <span>$ 535000</span>
                <button class="btn btn-primary" (click)="addToCart(productosComputadoras[4])">Agregar</button>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/computadoras/pc1.webp" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Laptop 18012XDA</h5>
                <p class="card-text">potencia y rendimiento</p>
                <span>$ 235000</span>
                <button class="btn btn-primary" (click)="addToCart(productosComputadoras[5])">Agregar</button>
                
            </div>
        </div>
        
 

    </div>

</section>

