

<section id="productos">

    <h1>Los mejores accesorios para la Pc</h1>
    <div class="productos-container">
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/accesorios/escritorio12.webp" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Escritoio Gamer</h5>
                <p class="card-text">Comodidad y estilo</p>
                <span>$ 35000</span>
                <button class="btn btn-primary" (click)="addToCart(productosAccesorios[0])">Agregar</button>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/accesorios/mouse 1.jfif" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Mouse Logiteg R12</h5>
                <p class="card-text">Mouse gamer</p>
                <span>$ 15000</span>
                <button class="btn btn-primary" (click)="addToCart(productosAccesorios[1])">Agregar</button>

            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/accesorios/mouse2.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Mouse Logiteg PW13</h5>
                <p class="card-text">Mouse gamer</p>
                <span>$ 10000</span>
                <button class="btn btn-primary" (click)="addToCart(productosAccesorios[2])">Agregar</button>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/accesorios/mousepad11.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">MousePad</h5>
                <p class="card-text">Textura y comodidad</p>
                <span>$ 11000</span>
                <button class="btn btn-primary" (click)="addToCart(productosAccesorios[3])">Agregar</button>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/accesorios/teclado_gamer.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Teclado gamer ZX24 PRO</h5>
                <p class="card-text">Personalizable y elegante</p>
                <span>$ 25000</span>
                <button class="btn btn-primary" (click)="addToCart(productosAccesorios[4])">Agregar</button>
                
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="img-container">
                <img src="./assets/img/accesorios/teclado_mecanico10.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">Teclado mecanico rx109</h5>
                <p class="card-text">la Mejor calidad garatizada</p>
                <span>$ 35000</span>
                <button class="btn btn-primary" (click)="addToCart(productosAccesorios[5])">Agregar</button>
                
            </div>
        </div>

        
        
    </div>

</section>

